



.oc-modal-wrapper {
  padding: 1rem;
}

.oc-modal-content {
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
}

.oc-modal-title {
  font-weight: bold;
  color: #003366;
}

.oc-form-wrapper {
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 6px;
}

.oc-form-section {
  margin-bottom: 1.5rem;
}

.oc-form-section .form-label {
  font-weight: 500;
  color: #333;
}

.oc-footer {
  display: flex;
  justify-content: space-between;
}

/* Confirmação Modal */
.modal-title {
  color: #003366;
}
